// ============
// Colors

$color-wine: #6B2A30;
$color-rose: #D0AAAA;
$color-rose-light: #EEE0E0;

$text-dark: $color-wine;
$text-light: $color-rose-light;


// ============
// Typography

$font-heading: 'Libre Baskerville', serif;
$font-body: 'Inter', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;


// ============
// Radius

$border-radius: 20px;